.my-profile-container {
  display: flex;
  border-top: 2px solid gray;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
}

.reserved-rockets-container {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75%;
}

.reserved-rockets-container .reserved-list {
  margin-top: 5%;
  border: 1px solid gray;
  border-radius: 5px;
  gap: 0;
}

.reserved-rockets-container .reserved-list li {
  padding: 3%;
}

.reserved-rockets-container .reserved-list li + li {
  border-top: 1px gray solid;
}
